.navbar {
    position: fixed;
    left: 0;
    width: 100%;
}

.navbar-brand > img {
    display: inline;
    max-height: 25px
}

.profile_img {
    max-width: 150px;
}

canvas {
    width: 400px;
    height: 400px;
}

.cover-page {
    padding-right: 100px;
    padding-left: 100px;
}

.homepage-form {
    margin-top: 450px;
    position: fixed;
    left: 0;
}

.users-all {
    padding-top: 75px; 
    position: static;
}

.user-profile {
    padding-top: 75px;
    position: static;
}

.results {
    padding-top: 75px;
    position: static;
}
/*.login-form {
    position: relative;
}*/