<!doctype html>
<html>
<head>
    <title>{% block title %} ENTER CHILD TEMPLATE BLOCK TITLE HERE {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="static/piano.css" />
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed" rel="stylesheet">
<!--     <link href="https://fonts.googleapis.com/css?family=Sumana" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:500|Sumana" rel="stylesheet"> -->
<!--    <script src="https://code.jquery.com/jquery.js"></script> -->
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

    <script src="static/jquery.validate.min.js"></script>
    <script src="static/facebook_oauth.js"></script>

  {% block head %}{% endblock %}
</head>
<body>
  
  <!-- FACEBOOK SDK CODE -->  
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1938051829755876',
        xfbml      : true,
        version    : 'v2.8'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- END FACEBOOK SDK CODE -->


  <!-- FLASH MESSAGES -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-left" href="/melody">
        <img alt="Melodies" id="logo" src="/static/noun_647981_cc_white.png">Markov Melodies
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if ('user_id' in session) and (session['user_id'])%}
          <li><a href="/users">See All Users</a></li>
          <li><a href="/user/{{ session['user_id'] }}">My Profile</a>
          <li><a href="/logout">Logout</a></li>
        {% else %}
<!--           <li><a href="/login">Login</a></li> -->
          <li><a href="/#login" data-toggle="modal" data-target="#loginModal">Login</a></li>
          <li><a href="/#signup" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <div class="flash-msg">{{ message }}</div>
    {% endfor %}
{% endwith %}

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <form action='/login' method='POST' id="loginForm">
            <label for='email'>Email: </label><input type='email' name='email'><br>
            <label for='password'>Password: </label><input type='password' name='password'><br>
            <input type='submit' name='submit' value='Submit'><br>

            <div class="modal-footer">
                <p>Or login using Facebook: 
                  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                  </fb:login-button>
                </p>
                <div id="status">
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="signupModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <form action='/signup' method='POST' id="signupForm">
            <label for='first_name'>First Name: </label><input type='first_name' name='first_name'><br>
            <label for='last_name'>Last Name: </label><input type='last_name' name='last_name'><br>
            <label for='email'>Email: </label><input type='email' name='email'><br>
            <label for='password'>Password: </label><input type='password' name='password'><br>
            <input type='submit' name='submit' value='Submit'><br>

            <div class="modal-footer">
                <p>Or sign up using Facebook:
                  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                  </fb:login-button>
                </p>
                <div id="status">
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>





  <!-- CHILD TEMPLATE BODY CONTENT  -->
  {% block body %} ENTER CHILD TEMPLATE BLOCK CONTENT HERE {% endblock %}

  <script src="static/form-validation.js"></script>

  </body>

</html>