<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/jquery.validate.min.js"></script>
    <script src="static/js/facebook_oauth.js"></script>
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed" rel="stylesheet">
      <title>Cover Page</title>
</head>

<body>
{% with messages = get_flashed_messages() %}
  {% for message in messages %}
      <div class="flash-msg">{{ message }}</div>
  {% endfor %}
{% endwith %}

<div class="container coverPage">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <center>
        <h1>hello.</h1>
        <p>Markov Melodies is a musical composition app. You provide a small amount of seed information and the app will generate a brand new melody for you. Sign up and login to save and share your melodies, or use the app as a guest user.</p>
        <br>
        <div>
            <center>
                <img src='/static/icons/noun_130928.png'>
                <img src='/static/icons/noun_130928.png'>
                <img src='/static/icons/noun_130928.png'>
            </center>
        </div>
        <br>
        <button class="loginButton" data-toggle="modal" data-target="#loginModal">Login</button>
        <button class="signupButton" data-toggle="modal" data-target="#signupModal"> Sign up</button>
        <a class="guestButton" href="/melody">Continue as a guest</a>
        <br>
        </center>
    </div>
  </div>
</div>


    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="loginModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <form action='/login' method='POST' id="loginForm">
                <label for='email'>Email: </label><input type='email' name='email'><br>
                <label for='password'>Password: </label><input type='password' name='password'><br>
                <input type='submit' name='submit' value='Submit'>
                <div class="modal-footer">
                    <p>Or login using Facebook: 
                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                        </fb:login-button>
                    </p>
                    <div id="status">
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Signup Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="signupModalLabel">Sign Up</h4>
          </div>
          <div class="modal-body">
            <form action='/signup' method='POST' id="signupForm">
                <label for='first_name'>First Name: </label><input type='first_name' name='first_name'><br>
                <label for='last_name'>Last Name: </label><input type='last_name' name='last_name'><br>
                <label for='email'>Email: </label><input type='email' name='email'><br>
                <label for='password'>Password: </label><input type='password' name='password'><br>
                <input type='submit' name='submit' value='Submit'>
                <div class="modal-footer">
                    <p>Or sign up using Facebook: 
                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                        </fb:login-button>
                    </p>
                    <div id="status">
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<script src="static/js/form-validation.js"></script>
</body>
</html>