{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block body %}
<div>
<img class="profile_img" src='/{{ user.profile_img }}'>
<p>{{ user.first_name }} {{ user.last_name }}</p>
<p>{{ user.email }}</p>
</div>

<div>
{% if is_current_user %}
    <h6>My melodies: </h6>
{% else %}
    <h6>{{ user.first_name }}'s melodies: </h6>
{% endif %}

{% if melodies %}
    {% for melody in melodies %}
        {{ melody.title }}<br>
        <audio controls> 
            <source src='/{{ melody.path_to_file }}' type='audio/wav'>
        </audio><br>
        {% if (not is_current_user) and (melody in likes) %}
            <a href="/unlike/{{ melody.melody_id }}">Unlike this melody</a>           
        {% elif not is_current_user %}
            <a href="/add_like/{{ melody.melody_id }}">Like this melody</a>
        {% endif %}<br>
    {% endfor %}
{% else %}
    {% if is_current_user %}
        <p>You haven't saved any melodies yet. Please visit the <a href='/'>homepage</a> to create a new melody.</p>
    {% else %}
        <p>{{ user.first_name }} has no melodies at this time.</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}