{% extends 'base.html' %}

{% block title %} All Users {% endblock %}

{% block body %}

{% for user in users %}
<div class="users-all">
    <a href="/user/{{ user.user_id }}"><img class="profile_img" src='{{ user.profile_img }}'></a><br>
    {{ user.first_name }} {{ user.last_name }}<br>
    {% if user in following %}
        <a href='/unfollow/{{ user.user_id }}'>Unfollow this user.</a>
    {% else %}
        <a href='/follow_user/{{ user.user_id }}'>Follow this user.</a>
    {% endif %}
</div>
<br>
<br>
{% endfor %}
{% endblock %}
