{% extends 'base.html' %}

{% block title %} All Users {% endblock %}

{% block body %}

<div class="users-all">
    <div class="container">
        <div class="row">
            {% for user in users %}
                {% if user.profile_img %}
                <div class="col-sm-3">
                    <a href="/user/{{ user.user_id }}"><img class="profile_img" src='{{ user.profile_img }}'></a><br>
                    <h6>{{ user.first_name }} {{ user.last_name }}</h6><br>
                    {% if user in following %}
                        <a class="followButton" href='/unfollow/{{ user.user_id }}'>Unfollow this user</a>
                    {% else %}
                        <a class="followButton" href='/follow_user/{{ user.user_id }}'>Follow this user</a>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
